# npm modules
node_modules/

# old js files
wallet_back_up/

# vscode files
.vscode/launch.json

# encrypted data
*.enc
 
# js files
promiseTest.js
sendTest.js
hellonode.js
demo.html

coverage/
.eslintrc

# python test local server setup
*.py
__pycache__/