# npm modules
node_modules/

# jsdoc files
out/

# old js files
wallet_back_up/

# vscode files
.vscode/launch.json

# encrypted data
*.enc
 
# js files
promiseTest.js
sendTest.js

coverage/
.eslintrc
